body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #393939;
  color: #000000;
}

main {
  padding: 20px;
}

a {
  color: #294500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
